@media (max-width: 82em) {
  html {
    font-size: 55%;
  }
  .page-top {
    padding-top: 5rem;
  }
}
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 56em) {
  html {
    font-size: 45%;
  }

  .btn-mobile {
    display: block;
  }
  .navigation {
    display: none;
  }
  .page-content {
    display: flex;
    flex-direction: column;
  }

  .section-I {
    text-align: center;
    align-items: center;
  }

  p {
    text-align: center;
  }

  .testimonials {
    gap: 2rem;
    flex-direction: column;
  }
  .img-testimonial {
    padding: 2rem 0rem;
  }
  .testimonial-text {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
  }
  .img-gallery {
    flex: none;
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
  }
  .gallery-img-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .gallery-img-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
/* 576px */
@media (max-width: 36em) {
  html {
    font-size: 40%;
  }
  h1 {
    max-width: 45rem;
    font-size: 4rem;
  }
  .section-I {
    gap: 2rem;
    padding: 2rem 3rem;
  }
  .p-green,
  .p-blue {
    max-width: 50rem;
  }
  .img-testimonial {
    width: 8rem;
  }
}
